services:
    _defaults:
        public: true

    Marello\Bundle\CustomerBundle\Controller\CompanyController:
        calls:
            - ['setContainer', ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }
            - { name: container.service_subscriber, id: marello_customer.company_tree_handler, key: Marello\Bundle\CustomerBundle\JsTree\CompanyTreeHandler }
            - { name: container.service_subscriber, id: marello_customer.company.form.handler, key: Marello\Bundle\CustomerBundle\Form\Handler\CompanyHandler }

    Marello\Bundle\CustomerBundle\Controller\CustomerController:
        calls:
            - ['setContainer', ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }

    Marello\Bundle\CustomerBundle\Controller\CustomerGroupController:
        calls:
            - [ 'setContainer', [ '@Psr\Container\ContainerInterface' ] ]
        tags:
            - { name: container.service_subscriber }
            - { name: container.service_subscriber, id: marello_customer_group.form.handler, key: Marello\Bundle\CustomerBundle\Form\Handler\CustomerGroupHandler }