{% block marello_currency_select_widget %}
    <div class="marello-currency-select-container" data-page-component-module="marellosales/js/app/components/currency-select-component">
        {{ form_widget(form) }}
    </div>
{% endblock %}