services:
#    Marello\Bundle\TicketBundle\Controller\TicketController:
#        calls:
#            - [ 'setContainer', [ '@Psr\Container\ContainerInterface' ] ]
#        tags:
#            - { name: container.service_subscriber }
#
#    Marello\Bundle\TicketBundle\Controller\TicketCategoryController:
#        calls:
#            - [ 'setContainer', [ '@Psr\Container\ContainerInterface' ] ]
#        tags:
#            - { name: container.service_subscriber }