{% extends '@OroUI/actions/index.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% set pageTitle = 'marello.product.entity_plural_label'|trans %}
{% set gridName  = 'marello-products-grid' %}

{% block navButtons %}
    <div class="pull-left">
        {% include '@OroImportExport/ImportExport/buttons_from_configuration.html.twig' with {
            alias: 'oro_product_index'
        } %}
    </div>

    {% if is_granted('marello_product_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path': path('marello_product_create'),
                'entity_label': 'marello.product.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
